@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bodoni Moda', serif;
}

body, html {
    background-color: #18181B;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

section {
    margin-top: 3%;
    margin-left: 0.05%;
    margin-right: 0.05%;
    width: 178px;
    height: 365px;
    background-color: white;
    border-radius: 20px;
}

.imagem>img{
    border-radius: 20px;
    width: 100%;
    height: 50%;
}

i {
    transform: translateY(-165px);
    padding: 5px;
}

.campo {
    margin-top: -20px;
}

.campo > p {
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 4%;
    font-size: 1.1em;
}

.estilo-paragrafo {
    color: #A1A1AF;
    margin-bottom: 5%;
}
